In [ ]:
# Data type and structures Assignments

Practical Questions

In [23]:
# 1) Write a code to create a string with your name and print it.
a = "Jaykumar"
print(a)

Jaykumar

In [24]:
#  2) Write a code to find the length of the string "Hello World".
a = "Hello World"
len(a)

11

In [22]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
sliced_text = text[:3] # Slicing the first 3 characters
print("Sliced text:", sliced_text)

Sliced text: Pyt

In [21]:
# 4) Write a code to convert the string "hello" to uppercase
string =  "hello"
string.upper()

'HELLO'

In [25]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
updated_a = a.replace("apple", "orange")
print("Updated a:", updated_a)

Updated a: I like orange

In [13]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.
list_1 = [1, 2, 3, 4, 5]
print(list_1)

[1, 2, 3, 4, 5]

In [16]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [20]:
# 8)  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("updated list:", numbers)

updated list: [1, 2, 4, 5]

In [26]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
variables = ['a', 'b', 'c', 'd']
variables[1] # accessing the second element from the list

'b'

In [34]:
# 10)  Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers[::-1] # Reversing the list
print("Reverse :", numbers)

Reverse : [10, 20, 30, 40, 50]

In [35]:
# 11) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [40]:
# 12) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple = ("apple", "banana", "cherry")
a = my_tuple[0]
print("first element:", a)

first element: apple

In [42]:
# 13) Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
numbers.count(2) #counting no 2

3

In [45]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_1 = ('dog', 'cat', 'rabbit')
tuple_1.index('cat') # index of cat

1

In [46]:
# 15) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
banana_present = "banana" in fruits # check if the element "banana" is in the tuple
print("Is 'banana' in the tuple?", banana_present)

Is 'banana' in the tuple? True

In [48]:
# 16)  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1, 2, 3, 4, 5}
print("Set :",s)

Set : {1, 2, 3, 4, 5}

In [51]:
# 17) Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.add(6) # Adding the element 6 to the set
print("Updated set:", numbers)

Updated set: {1, 2, 3, 4, 6}

In [52]:
# 18) Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print("tuples:", my_tuple)

tuples: (10, 20, 30)

In [53]:
# 19) Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
a = fruits[0]
print("first element:", a)

first element: apple

In [56]:
# 20)  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
a = numbers.count(2) # counting no 2
print("total times 2 =", a)

total times 2 = 3

In [57]:
# 21) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
a = animals.index('cat')
print("index of 'cat':", a)

index of 'cat': 1

In [59]:
# 22) Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
fruits = ('apple', 'orange', 'banana')
banana_present = 'banana' in fruits # "banana" is in the tuple
print("banana is present ?", banana_present)

banana is present ? True

In [60]:
# 23)  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
numbers = {1, 2, 3, 4, 5}
print("set :", numbers)

set : {1, 2, 3, 4, 5}

In [63]:
# 24) Write a code to add the element 6 to the set {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.add(6) # adding element '6'
print("updated set:", numbers)

updated set: {1, 2, 3, 4, 6}